<!-- Daniel -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: headerfiles(title='Login')"></head>
<body class="p-0 bg-login">
<div class="container home-div d-flex justify-content-center">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading text-centered shipster-text-light">Sign in to your Shipster account</h2>
        <p>
            <label for="username" class="sr-only shipster-text-light">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="" autocomplete="off">
        </p>
        <p>
            <label for="password" class="sr-only shipster-text-light">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""
                   autocomplete="off">
        </p>
        <div class="d-flex align-items-center mb-3">
            <label for="remember-me" class="shipster-text-light">Remember me?</label>
            <input type="checkbox" id="remember-me" name="remember-me" class="for-check-input shipster-checkbox ms-2">
        </div>
        <button class="btn btn-outline-secondary" type="submit">Sign in</button>
        <div class="shipster-text-light">Don't have an account yet? Register <a href="/register"><u>here</u></a>.</div>
    </form>
</div>
</body>
</html>
