@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

.shipster-text-light {
    color: #ffc800;
}

.shipster-text-dark {
    color: black;
}

.shipster-checkbox {
    width: 15px;
    height: 15px;
}

.form-signin {
    max-width: 400px!important;
}

.bg-team {
    background: url("../images/shipping_background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.bg-error {
    background: url("../images/error_background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.bg-profile {
    background: url("../images/profile_background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.bg-admin {
    background: url("../images/admin_background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.bg-login {
    background: url("../images/login.jpeg") no-repeat center fixed;
    background-size: cover;
}

.bg-register {
    background: url("../images/register.jpeg") no-repeat center fixed;
    background-size: cover;
}

.bg-home {
    background: url("../images/shipster_road_containers.jpg") no-repeat center center fixed;
    background-size: cover;
}

.bg-shop {
    background: url("../images/loading_dock.jpg") no-repeat center center fixed;
    background-size: cover;
}

a:hover {
    color:#ffc800;
}

.error-text {
    color: black!important;
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 100px;
}

.img-logo {
    width: 100px;
}

.home-title {
    width: 60%;
    height: 100%;
    margin: auto;
}

.navbar {
    background-color: black;
}

.profile-card {
    width: 300px;
    height: 500px;
    background-color: black;
    color: white;
}

.border-right-shipster {
    border-color: #ffc800;
    border-right: solid;
}

.navbar-toggler {
    width: 60px;
}

.text-secondary {
    color: #ffc800;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-menu {
    display: flex;
}


.home-div {
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 1200px;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rounded {
    border-radius: .5rem !important;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.btn-outline-secondary {
    width: 100%;
    margin-top: 5px;
    color: #ffc800;
    border-color: #ffc800;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: #ffc800;
}

.btn-outline-secondary-small {
    width: 100%;
    margin-top: 5px;
    color: #ffc800;
    border-color: #ffc800;
    font-size: small;
}

.btn-outline-secondary-small:hover {
    color: black;
    background-color: #ffc800;
}

.btn-outline-secondary-large {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #ffc800;
    border-color: #ffc800;
    font-size: x-large;
    align-self: center;
}

.btn-outline-secondary-large:hover {
    color: black;
    background-color: #ffc800;
}

.btn-outline-secondary-dark-large {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #000000;
    border-color: #000000;
    font-size: x-large;
    align-self: center;
}

.btn-outline-secondary-dark-large:hover {
    color: #ffc800;
    background-color: #000000;
}

.button:hover {
    background-color: #555;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform .2s;
    cursor: pointer;
}

.avatar:hover {
    transform: scale(1.25);
}

.nav-item .tooltiptext {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 120px;
    color: #ffc800;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
}

.nav-item:hover .tooltiptext {
    opacity: 1;
}

.text-centered {
    text-align: center;
}

.page-location {
    font-weight: bold;
}

.page-start {
    margin-top: 110px;
}

.profile-start {
    margin-top: 150px!important;
}

.shop-start {
    margin-top:210px!important;
}

.error {
    border: 1px solid red;
}

.text-success {
    color: green;
    font-size: small!important;
    padding-top: 3px;
}

.email {
    font-size: 0.7rem;
    text-align: center;
}

.names {
    font-size: 1.5rem;
    text-align: center;
}

.main-img {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}

/* about page */
.about {
    height: 200vh;
}

.container-about {
    clip: rect(0, auto, auto, 0);
    overflow: hidden;
    position: absolute;
    height: 100vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_solid-about-first {
    background: black;
    top: 100vh;
    height: 60vh;
}

.container_solid-about-second {
    background: #ffc800;
    top: 160vh;
    height: 60vh;
}

.container_solid-about-third {
    background: black;
    top: 220vh;
    height: 100vh;
}

.title_wrapper {
    position: fixed;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 750px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title_wrapper .h1-about {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.h3-about{
    color: #ffc800;
}

.h3-about-second{
    color: black;
}

.h4-about {
    text-align: center;
    color: rgb(0,0,0,0.1);
    transition: color 3s ease;
}

.h4-about:hover {
    color: rgb(0,0,0,0.6);
}

.title_wrapper .h3-about {
    text-align: center;
    font-size: 26px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin: 50px;
}

.title_wrapper .h3-about-second {
    text-align: center;
    font-size: 26px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin: 50px;
}

.transparent-text {
    background: url("../images/ship_bright.jpg") no-repeat center fixed;
    background-size: cover;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
}

.container_image-about {
    background: url("../images/ship_bright.jpg") no-repeat center fixed;
    background-size: cover;
    top: 0;
}

.container_image-about .title_wrapper .h1-about {
    color: black;
}


@media screen and (max-width: 991px) {
    .nav-menu {
        flex-direction: column;
    }

    .nav-item .tooltiptext {
        bottom: 135px!important;
    }
}

@media screen and (max-width: 400px) {
    .title_wrapper .h1-about {
        font-size: 40px;
    }

    .home-title {
        width: 90%;
    }
}
