<!-- Daniel -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: headerfiles(title='Home')">
</head>
<body class="bg-home">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="img-logo" th:src="@{images/shipster_yellow_transparent.svg}"
                                              alt="..."/></a>
        <div class="navbar-toggler" role="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <img th:src="@{images/menu.svg}" alt="menu">
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase d-flex justify-content-between w-100 py-4 py-lg-0">
                <div class="nav-menu">
                    <li class="nav-item page-location"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                </div>

                <div th:if="${userName != 'anonymousUser'}" class="ms-auto nav-menu">
                    <li class="nav-item ms-2"><a class="btn btn-outline-secondary" th:text="${userName}"></a></li>
                </div>

                <div th:unless="${userName == 'anonymousUser'}" class="ms-auto nav-menu">
                    <li class="nav-item ms-2"><a class="btn btn-outline-secondary" href="/login">Login</a></li>
                    <li class="nav-item ms-2"><a class="btn btn-outline-secondary" href="/register">Sign up</a></li>
                </div>

            </ul>
        </div>
    </div>
</nav>

<!--Banner-->
<div class="col-md-12 d-flex flex-column justify-content-center border-0 rounded page-start">
    <div class="d-flex flex-column justify-content-center home-div">
        <img class="home-title" th:src="@{images/shipster_home_banner.svg}" alt=".">
        <div class="btn btn-outline-secondary-large" onclick="location.href='/shop';">Ship with us</div>
    </div>
</div>

</body>
</html>
