<!-- Daniel -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: headerfiles(title='Home')">
</head>
<body class="bg-home">
<!-- Navigation-->
<nav th:replace="general.html :: navigation(page='Home', user=${userName})"></nav>

<!--Banner-->
<div class="col-md-12 d-flex flex-column justify-content-center border-0 rounded page-start">
    <div class="d-flex flex-column justify-content-center home-div">
        <img class="home-title" th:src="@{images/shipster_home_banner.svg}" alt=".">
        <div class="btn btn-outline-secondary-large" onclick="location.href='/shop';">Ship with us</div>
    </div>
</div>

</body>
</html>
