<!-- Giacomo-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: headerfiles(title='Shop')"></head>
<body class="bg-basket">

<!-- Navigation-->
<nav th:replace="general.html :: navigation(page='Shop', user=${user})"></nav>

<div class="main-basket">
    <div class="row">
        <div class="w-100 d-flex justify-content-center">
            <div class="col-md-8 col-sm-10 shipster-text-light border rounded m-2"
                 style="min-width: 300px; background-color: black;">
                <div class="card-body text-center border-bottom mb-2">
                    <h4 class="basket-title">Shopping Basket</h4>
                </div>
                <div class="d-flex align-items-center border-bottom mb-2 p-2" th:each="article, iterator : ${articles}">
                    <div class="basket column thumbnail"
                         th:onclick="'window.location.href = \'/shop/article?articleId=' + ${article.getId} + '\''">
                        <div class="thumb-img"><img class="w-100" th:src="@{${article.getUrl()}}">
                        </div>
                    </div>
                    <div class="basket column product-basket ps-3">
                        <h6 th:text="${article.getName()}"></h6>
                        <p th:text="${article.getDescription()}"></p>
                    </div>
                    <div class="basket column spacer">
                    </div>
                    <div class="basket column quantity">
                        <div class="counter-btn-group" onclick="showLoading()">
                            <div class="counter-btn d-flex"
                                 th:onclick="'window.location.href=\'article/remove?articleId=' + ${article.getId()} + '&orderId=' + ${order.getId()} + '\''">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </div>
                            <div class="m-2" th:text="${orderItems[iterator.index].getQuantity()}"></div>
                            <div class="counter-btn d-flex"
                                 th:onclick="'window.location.href=\'article/add?articleId=' + ${article.getId()} + '&orderId=' + ${order.getId()} + '\''">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="basket column price">
                        <h6 class="price-article"
                            th:text="${#numbers.formatDecimal(article.getPrice() * orderItems[iterator.index].getQuantity(), 0, 2)}"></h6>
                        <!--GET Subtotal Price (Quantity * Product Price)-->
                    </div>
                </div>

                <p></p> <!-- division line -->

                <!-- Shipping Total, Product Subtotal, Order Total" -->
                <div class="row justify-content-around">
                    <div class="col-6 d-flex justify-content-center">
                        <div>
                            <h6>Product Total</h6>
                            <div class="provider">Provider</div>
                            <h6>Total pallet space used</h6>
                            <h6>Shipping Total</h6>
                            <h4>Total</h4>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <div>
                            <h6 th:text="${#numbers.formatDecimal(articlesTotalPrice, 0, 2)}"></h6>
                            <div id="provider-list">
                                <div class="provider d-flex">
                                    <div class="me-3"
                                         th:onclick="'window.location.href=\'/shop/provider?providerId=2&orderId=' + ${order.getId()} + '\''">
                                        <input type="radio" name="post" value="2" id="post"
                                               th:checked="${provider.getId() eq 2}"/>
                                        <label for="post">Post</label>
                                    </div>
                                    <div th:onclick="'window.location.href=\'/shop/provider?providerId=1&orderId=' + ${order.getId()} + '\''">
                                        <input type="radio" name="dhl" value="1" id="dhl"
                                               th:checked="${provider.getId() eq 1}"/>
                                        <label for="dhl">DHL</label>
                                    </div>
                                </div>
                            </div>
                            <h6 th:text="${#numbers.formatDecimal(palletSpace, 0, 2)}"></h6>
                            <h6 th:text="${#numbers.formatDecimal(totalPrice - articlesTotalPrice, 0, 2)}"></h6>
                            <h4 th:text="${#numbers.formatDecimal(totalPrice, 0, 2)}"></h4>
                        </div>
                    </div>
                </div>

                <div class="m-2 d-flex justify-content-center">
                    <button id="order" class="btn btn-outline-secondary" th:onclick="|placeOrder(${order.getId()})|"
                         style="width:100px" th:disabled="${articles.size() == 0}" >Order
                    </button>
                </div>
                <h5 id="order-failure" class="fst-italic text-centered error-text"></h5>
                <h5 id="order-success" class="fst-italic text-centered text-success"></h5>
            </div>

        </div>
    </div>
</div>

<div id="loading" class="loading d-none justify-content-center align-items-center">
    <img width="250px" height="250px" th:src="@{/images/shipster_loading.svg}">
</div>

<!-- Footer -->
<footer th:replace="general.html :: footer"></footer>

</body>

<script>

    $('#provider-list').click(function () {
        showLoading();
    })

    function showLoading() {
        $('#loading').attr("style", "display:flex !important");
    }

    function placeOrder(orderId) {
        let providerId = 2
        if ($('#dhl').is(':checked')) {
            providerId = 1
        }
        let url = "/order?orderId=" + orderId;
        console.log(url);
        $.ajax({
            url: url,
            type: "POST",
            success: function (response) {
                let message = jQuery.parseJSON(response);
                console.log(message);
                if (!message.message) {
                    $('#order-failure').text(message.error);
                    $('#order').attr("disabled", false);

                } else {
                    $('#order-success').text(message.message);
                    $('#order').attr("disabled", true);
                    window.location.replace("/order/confirmation?orderId=" + orderId);
                }
            }
        })
    }

</script>
</html>
