<!-- Giacomo-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: headerfiles(title='Shop')"></head>
<body class="bg-article">

<!-- Navigation-->
<nav th:replace="general.html :: navigation(page='Shop', user=${user})"></nav>

<div class="main-basket">
    <div class="container">
        <div class="row w-100 justify-content-center">
            <div class="col-md-8 col-sm-10 bg-light border rounded m-2"
                 style="min-width: 300px;">
                <div class="card-body text-center">
                    <h4 class="basket-title">Shopping Basket</h4>
                </div>
<!--
                th:each "Articles in Order Loop"
-->
                <div class="row">
                    <div class="basket column thumbnail">
                        <div class="thumb-img"><img class="w-100" th:src="@{images/box_1.jpg}"> <!-- GET product img -->
                        </div>
                    </div>
                    <div class="basket column product">
                        <h6>GET Product Name</h6>
                        <p>GET Description</p>
                    </div>
                    <div class="basket column spacer">
                    </div>
                    <div class="basket column quantity">
                        <form>
                            <input class="quantity-selector" type="number" id="quantity" name="quantity" placeholder="3" min="0">
                        </form>  <!--Quantity Selector -->
                    </div>
                    <div class="basket column price">
                        <h6>PRICE</h6> <!--GET Subtotal Price (Quantity * Product Price)-->
                    </div>
                </div>

                <p></p> <!-- division line -->
                <hr class="rounded">

                <!-- Shipping Total, Product Subtotal, Order Total" -->
                <div class="row">
                    <div class="basket column thumbnail">
                    </div>
                    <div class="basket column product">
                        <h6>Product Total</h6>
                        <h6>Shipping Total</h6>
                        <h4>Total</h4>
                    </div>
                    <div class="basket column spacer">
                    </div>
                    <div class="basket column quantity">
                    </div>
                    <div class="basket column price">
                        <h6>PRICE</h6> <!--GET Subtotal Product Price (Quantity * Product Price)-->
                        <h6>SHIPPING</h6> <!--GET Shipping Function (Quantity * Product Price)-->
                        <h4>TOTAL</h4> <!--GET Total Order Cost (Product Subtotal + Shipping)-->
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

</body>
</html>
