<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: headerfiles(title='Shop')"></head>
<body class="bg-shop">

<!-- Navigation-->
<nav th:replace="general.html :: navigation(page='Shop', user=${user})"></nav>

<div class="shop-start">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4 col-sm-6 bg-dark border rounded m-2"
                 onmouseover="this.style.transform = 'scale(1.1)'; this.style.opacity = '0.8'"
                 onmouseout="this.style.transform = 'scale(1.0)'; this.style.opacity = '1'">
                <a href="express" class="text-decoration-none shipster-text-light">
                    <div class="card-body mb-30"
                         onmouseover="this.style.transform = 'scale(1.1)'; this.style.opacity = '0.8'"
                         onmouseout="this.style.transform = 'scale(1.0)'; this.style.opacity = '1'">
                        <div class="inner">
                            <div class="main-img"><img class="w-100" th:src="@{images/express_delivery.jpg}"
                                                       alt="express delivery"></div>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">Express shipping</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>
