<!-- Daniel-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: headerfiles(title='Shop')"></head>
<body class="bg-article">

<!-- Navigation-->
<nav th:replace="general.html :: navigation(page='Shop', user=${user})"></nav>

<div class="shop-start">
    <div class="w-100 d-flex justify-content-center fill-page">
        <table class="table shipster-user-tbl m-2" style="height: fit-content">
            <thead class="shipster-user-tbl-header">
            <tr>
                <td>Id</td>
                <td>Order date</td>
                <td>Shipping date</td>
                <td>Delivery date</td>
                <td>Cancellation date</td>
                <td>Status</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr class="user-row" th:each="order : ${orders}"
                th:onclick="'window.location.href=\'order?orderId=' + ${order.getId()} + '\''">
                <td th:text="'#' + ${order.getId()}"></td>
                <td th:text="${order.getOrderDate() != null} ? ${#dates.format(order.getOrderDate(), 'dd-MM-yyyy HH:mm')} : '-'"></td>
                <td th:text="${order.getShippingDate()!= null} ? ${#dates.format(order.getShippingDate(), 'dd-MM-yyyy HH:mm')} : '-'"></td>
                <td th:text="${order.getDeliveryDate()!= null} ? ${#dates.format(order.getDeliveryDate(), 'dd-MM-yyyy HH:mm')} : '-'"></td>
                <td th:text="${order.getCancellationDate()!= null} ? ${#dates.format(order.getCancellationDate(), 'dd-MM-yyyy HH:mm')} : '-'"></td>
                <td th:text="${order.getOrderStatus()!= null} ? ${order.getOrderStatus()} : '-'"></td>
                <td><button class="btn btn-outline-secondary-small receiptBtn" th:onclick="'window.location.href=\'/order/receipt?orderId=' + ${order.getId()} + '\''"> Receipt</button> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Footer -->
<footer th:replace="general.html :: footer"></footer>

</body>

<script>
    $('.receiptBtn').click(function (e) {
        e.stopPropagation();
    });
</script>

</html>
